body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;

    font-size: 20px;

    background-color: #FAFAFA;
    color: #FAFAFA;

    height: 100%;
    line-height: 1;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* ------------------------------- */
/* ------------------------------- */

.header {
    width: 100%;
    height: 10vh;

    background-color: #1A4D5B;
    display: flex;
    justify-content: center;
    color: #CECECE;

    position: fixed;
    left: 0;
    top: 0;
}

.header a {
    color: #CECECE;
    transition: color 0.1s ease;
}

.header a:hover {
    color: #FAFAFA;
}

.header_inner {
    width: 90vw;
    height: 100%;
    /*border: 1px solid red;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    /*border: 1px solid red;*/
}

.logo_img {
    width: 6vh;
    height: calc(6vh);
    border: 1px solid red;
}

.logo_text {
    margin-left: 2vw;
}

.nav {
    display: flex;
    align-items: center;
    /*border: 1px solid red;*/
}

.nav a {
    margin-right: 8vw;
    text-decoration: none;
}

.nav a:last-child {
    margin: 0;
}

.user {
    display: flex;
    align-items: center;
    /*border: 1px solid red;*/
}

.user a {
    text-decoration: none;
}

.user .name {
    margin-right: 2vw;
}

.btn {
    width: 80px;
    height: 40px;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ------------------------------- */
/* ------------------------------- */

.main {
    width: 100%;
    min-height: calc(80vh - 4vw);
    margin-top: 10vh;
    /*flex: 1 1 auto;*/
}

.poster {
    width: 100%;
    height: 70vh;
    /*border: 1px solid red;*/
    background-color: #09A894;
    display: flex;
    align-items: center;
    justify-content: center;
}

.poster_text {
    text-align: center;
    /*border: 1px solid red;*/
}

.poster h1 {
    font-size: 6em;
}

.poster h2 {
    font-size: 2em;
}

.main_slide {
    width: 92vw;
    /*border: 1px solid red;*/
    margin: calc(1vw) auto 0 auto;
    display: flex;
    flex-wrap: wrap
}

.main_item {
    width: calc(28.666vw);
    height: calc(28.666vw);
    /*border: 1px solid red;*/
    background-color: #1A4D5B;
    margin: 1vw;
}

.next {
    height: calc(2vw);
    margin: calc(2vw) auto 0 auto;
    /*border: 1px solid red;*/

    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------------- */
/* ------------------------------- */

.footer {
    margin-top: calc(4vw);
    width: 100%;
    height: 10vh;
    background-color: #1A4D5B;

    display: flex;
    justify-content: center;
    align-items: center;
}


.footer_inner {
    /*border: 1px solid red;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------------- */
/* ------------------------------- */

.search {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 7vh;
    margin: calc(2vw) auto 0 auto;
}

.search form {
    display: flex;
}

.search input {
    width: calc(30vw - 7vh);
    height: 7vh;
    border-radius: 10px;
    border: 1px solid gray;
    padding-left: 10px;
    font-size: 1em;
    background-color: #FFFFFF;
}

.search button {
    width: 7vh;
    height: 7vh;
    border-radius: 10px;
    border: 1px solid gray;
    margin-left: 1vw;
    font-size: 1em;
    background-color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.search button:hover {
    background-color: #CECECE;
}

/* ------------------------------- */
/* ------------------------------- */

.lk {
    color: #000;
    /*border: 1px solid red;*/
}

.user_inf {
    width: 90vw;
    margin: 2vw auto 0 auto;
    /*border: 1px solid red;*/
    display: flex;
}

.inf_img {
    width: 18vw;
    height: 18vw;
    border: 1px solid red;
}

.inf_text {
    display: flex;
    margin-left: 2vw;
    height: 18vw;
    border: 1px solid red;
    flex-direction: column;
}




.lk .main_item {
    width: calc(13.333vw);
    height: calc(13.333vw);
}